.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #38bdf8;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block; 
}


.about-card {
  background: #020617;
  border: 1px solid #38bdf8;
  padding: 30px 25px;
  border-radius: 12px;
  max-width: 800px;
  margin-top: 30px;
  line-height: 1.8;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.about-card p {
  margin-bottom: 15px;
}

.about-card span {
  color: #38bdf8;
  font-weight: bold;
}

.about-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(56,189,248,0.3);
  border-color: #0ea5e9;
}


#skills .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  border: 1px solid #38bdf8;
  background: #020617;
}

#skills .card:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 12px 30px rgba(56,189,248,0.4);
  border-color: #0ea5e9;
}


.project-card {
  background: #020617;
  padding: 25px;
  margin-top: 20px;
  border-radius: 10px;
  border-left: 4px solid #38bdf8;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 30px rgba(56,189,248,0.4);
  border-color: #0ea5e9;
}


#experience .project-card {
  border-left: 4px solid #38bdf8;
  padding: 25px 25px 20px 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#experience .project-card span {
  display: block;
  font-size: 14px;
  color: #38bdf8;
  margin-bottom: 10px;
}

#experience .project-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(56,189,248,0.3);
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.contact-card {
  background: #020617;
  padding: 25px;
  border-radius: 12px;
  border-left: 4px solid #38bdf8;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  text-align: center;
}

.contact-card h3 {
  margin-bottom: 10px;
  color: #38bdf8;
}

.contact-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(56,189,248,0.4);
  border-color: #0ea5e9;
}
