.hero {
  min-height: 100vh;
  display: flex;
  padding: 120px 80px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.hero-left {
  max-width: 50%;
  flex: 1 1 300px; 
}

.hero-right {
  max-width: 45%;
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
  margin-top: 0;
}


.image-box {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid #38bdf8;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image-box:hover {
  transform: scale(1.05) rotate(1deg);
  box-shadow: 0 0 40px rgba(56,189,248,0.7);
}


.hero span {
  color: #38bdf8;
}

.hero-desc {
  margin-top: 15px;
  line-height: 1.6;
}


.btn {
  margin-top: 20px;
  padding: 14px 35px;
  background: linear-gradient(45deg, #38bdf8, #0ea5e9);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(56,189,248,0.6);
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column; 
    padding: 80px 20px;
    text-align: center;
  }

  .hero-left, .hero-right {
    max-width: 100%;
  }

  .hero-right {
    order: -1; 
    margin-bottom: 20px;
  }

  .hero-left h1 {
    font-size: 28px;
  }

  .hero-left p {
    font-size: 16px;
  }

  .image-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}
